  *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
     font-family: 'Josefin Sans' , sans-serif;
   }

   body{
     background-color: yellow;
   }

   .wrapper{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     max-width: 350px;
     width: 100%;
     background: white;
     padding: 25px;
     border-radius: 5px;
     box-shadow: 4px 4px 2px rgba(254,236,164,1);
   }

  
   .wrapper h2{
     text-align: center;
     margin-bottom: 20px;
     text-transform: uppercase;
     letter-spacing: 3px;
     color: purple;
   }

   .wrapper .input_field{
      margin-bottom: 10px;
   }

  .wrapper .input_field input[type="text"]{
      width: 100%;
      border: 1px solid black;
      padding: 10px;
   }
  
   .wrapper .btn input[type="submit"]{
     border: 0;
     margin-top: 15px;
     padding: 10px;
     width: 100%;
     background: yellow;
     color: #332902;
     text-transform: uppercase;
     letter-spacing: 5px;
     font-weight: bold;
     border-radius: 25px;
     cursor: pointer;
   }

   .wrapper #error_message{
     margin-bottom: 20px;
     padding: 0px;
     text-align: center;
     font-size: 14px;
     transition: all 0.5s ease;

   }


   @media only screen and (max-width: 1150px) {
    .wrapper{
        max-width: 500px;
        
      
    }
    .wrapper h2{
      margin-bottom: 30px;
      letter-spacing: 10px;
    }

    .wrapper .input_field{
      margin-bottom: 25px;
   }
   .wrapper .input_field input[type="text"]{
    width: 50%;
    padding: 15px;
  }

  .wrapper .btn input[type="submit"]{
    margin-top: 30px;
  }

  .wrapper #error_message{
    margin-bottom: 30px;
  } 
}